@import url("//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic");
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");



<!--------BLOG heading----------------->

h3.text-center {
    color: rgb(152, 125, 83);
    font-size: 50px;
    line-height: 1.14;
    font-weight: 700;
}